label {
    display:block;
    margin:5px 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
  
td,
th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    padding: 0;
}
.formarea {
    margin-left: 10;
}
#paintings {
    padding: 1em;
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em 2em;
}
.painting {
    background-color: azure;
    border-style: groove;
    border-radius: 10px;
}
.title {
    padding: 10px;
    background-color: lightgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
.title:hover {
    background-color: rgb(44, 178, 32);
}
.description {
    font-style: initial;
    font-family: serif;
    font-variant: inherit;
}
